.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    height: 100%;
    width: 100%;


    .welcome {
        h1 {
            opacity: 0;
            animation: fade-in 1s linear 0s 1 normal forwards;
        }
        h2 {
            opacity: 0;
            animation: fade-in 1s linear 0.5s 1 normal forwards;
        }
        .button-row {
            opacity: 0;
            animation: fade-in 1s linear 1.0s 1 normal forwards;
        }
        text-align: center;

        .button-row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .button {
                display: inline-block;
                padding: 0.35em 1.2em;
                border: 0.1em solid #000000;
                margin: 0 0.3em 0.3em 0;
                border-radius: 0.12em;
                box-sizing: border-box;
                text-decoration: none;
                // font-family:'Roboto',sans-serif;
                font-weight:300;
                color:#000000;
                text-align:center;
                transition: all 0.2s;
            
                &:hover{
                    color:#FFFFFF;
                    background-color:#000000;
                }

                @media all and (max-width:30em){
                  display:block;
                  margin:0.4em auto;
                }
            }
        }
    }
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}